body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
}
h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #7F0000;
	text-align: center;
	vertical-align: middle;
	padding: 1px;
	border: solid #333333;
	font-style: italic;

}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	border: none;
}
.colhead {
	font-size: 1.1 em;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #7F0000;
	text-align: center;
	vertical-align: middle;
	padding: 1px;
	font-style: normal;
	font-variant: normal;


}
.tablehead {
	font-size: 1.25 em;
	font-weight: bold;
	color: #333333;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	padding: 1px;
	font-style: italic;

}
.calendar {
	border: solid #666666;
}
